!!! 5
html(lang="en")
	head
		style(type='text/css')
			div
			{
			height:400px;
			}
			td
			{
			border:1px solid black;
			}
			table
			{
			width:100%;
			}
		title Query Runner
		script(type="text/javascript",src=" https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
		script(type="text/javascript", src="https://www.google.com/jsapi")
		script(type="text/javascript")
			google.load('visualization', '1.0', {'packages':['corechart', 'annotatedTimeline', 'table']});
			$(document).ready(function() {
				$(".button").click(function() {
					var dataString = '?sql='+ sql.value;
					//alert (dataString);
					$.ajax({
						type: "GET",
						url: "query" + dataString,
						success: function(data) {
							//alert(data);
							$('#queryResults').html(data);
							drawChart();
								}
								});
					return false;
				});
				});
	body
		h1 Query Runner
		form(name='query')
			textarea(multiline='true', row='5', cols='50',id='sql', name='sql')
				|SELECT bids.created_at, bids.price, users.login FROM bids INNER JOIN users ON bids.user_id = users.id INNER JOIN events ON events.id = bids.event_id WHERE bids.lot_id = 661 and bids.created_at > events.start_at ORDER BY bids.created_at ASC
			input(type='submit', class='button', id='submit')
		span(id='queryResults')
		div(id="table_div", style="width: 700px; height: 240px;")
		div(id="chart_div", style="width: 700px; height: 240px;")
